<template name='errorz'>

<div class="errorMsg">hello</div>
                {{#if error}}
                <div class="pad margin no-print" id="error">
                    <div class="" style="margin-bottom: 0!important;">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <i class="fa fa-info"></i>
                        <b>Note:</b>{{error}}
                    </div>
                    <br />
                </div>
                {{/if}}

</template>
