<template name="profile">
    <div class="margintop"></div>


    <div class="margintop"></div>
    <div class="container">
        {{> header_home}}

        <div class="row">
            {{> controlnav }}




            <div class="col-md-6">
                <div class="post">

                    <h3>
                        {{services.twitter.screenName}}
                        {{profile.name}}
                        <span>{{username}}</span>
                        <small> 's Profile</small>

                                  
                    </h3>
                                            <img src=" {{services.twitter.profile_image_url}}"/>
                    <img src=" {{fbprofile}}"/>

                    
                   

                </div>
                <div class="post">
                    <h4>latest posts</h4>
                </div>

                {{#each lastsposts}} {{> postSingle}} {{> commentsbox}} {{/each}} {{> more}}
                <div class="margintop"></div>
            </div>




            <!--col for posts-->



            {{> sidebarnav}}



        </div>
        <!--row-->

    </div>
    <!--container-->
    {{> searchbox}}
</template>


<template name="user_profile">

    <div class="margintop"></div>


    <div class="margintop"></div>
    <div class="container">
        {{> header_home}}

        <div class="row">
            {{> controlnav }}




            <div class="col-md-6">
                <div class="post">

                   
                    <div class="col-md-2">
                                        {{#if avatar}}
                    <!--<img src=" {{services.twitter.profile_image_url}}"/>>-->
                    <img src="{{avatar}}"/>
                   {{else}} {{#if services.twitter.profile_image_url}}
                    <img src=" {{services.twitter.profile_image_url}}"/>
                    {{else}}
                    
<!--                    <span class="iconavatar glyphicon glyphicon-user userprofileicon" style=""></span>-->
                         <img src="/img/user-bg.png" width="90" height="90" class="img-circle"/>
<!--                        <img src="http://pbs.twimg.com/profile_images/437889963741294592/ikeqnt1q_normal.jpeg">-->
                    {{/if}}
                    {{/if}}
                    </div>
                    <div class="col-md-8">
                    <p style="line-height:120px;padding-left:30px;"><h3>
                                           <!--{{services.twitter.screenName}}
                        {{profile.name}}-->
                        <span></span>
                        <span>{{username}}</span>
                        <small> 's Profile</small>
                    </h3></p></div>

         
                    

                </div>
                <div class="post">
                    <a href="" class="btn btn-danger">edit profile</a>
                    <a href="" class="btn btn-default pull-right" style="margin:0 4px 0 4px;">facebook</a>
                    <a href="" class="btn btn-info pull-right">twitter</a>
                    
                </div>                
            
                <div class="post">
                    <h4>latest posts</h4>
                </div>

                {{#each lastsposts}} {{> postSingle}} {{> commentsbox}} {{/each}} {{> more}}
                <div class="margintop"></div>
            </div>




            <!--col for posts-->



            {{> sidebarnav}}



        </div>
        <!--row-->

    </div>
    <!--container-->
    {{> searchbox}}    
</template>