<!--Search Box-->
<template name="searchbox">
    <div class="tip" id="tooltip">
        <a href="#" id="closei" class="close">x</a>

        <div class="outerContainer">
            <div class="innerContainer">
                
                
                    <div class="form-group" id="form-search">

                        <input type="text" class="form-control" id="search" placeholder="Search">
                    </div>
                <br />
                <p>Seach topics , news , locations , city , events or dates</p>
            </div>
        </div>

    </div>
</template>