<template name="postShow">
    <div class="margintop"></div>
    <div class="container">
        {{> header_home}}

        <div class="row">
            {{> controlnav }}


            <div class="col-md-6 ">
                <!--col-md-offset-2-->


                {{> postSingle}}
                <!--post-->

                {{> comments}}

            </div>
            <!--col for posts-->



            {{> sidebarnav}}



        </div>
        <!--row-->

    </div>
    <!--container-->


    {{> searchbox}}


</template>
