<template name='hashtag'>
    
     <div class="margintop"></div>
    <div class="container">
        {{> header_home}}

        <div class="row">
            {{> controlnav }}




   <div class="col-md-6">
   <div class="post">
    
      <h4><span>{{hasthag}} </span><small>hashtag</small></h4>
       
       </div>
    {{#each posts}}
   {{>postSingle}}
    {{> commentsbox}}
    {{/each}}
       
    {{> more}}
       <div class="margintop"></div>
       </div>
            
            


            <!--col for posts-->



            {{> sidebarnav}}



        </div>
        <!--row-->

    </div>
    <!--container-->
        {{> searchbox}}
</template>


