<template name="top">

    <div class="container-fluid" id="many">
        <!--
        <div class="row">
            <a href="" class="outcan"><i class="glyphicon glyphicon-align-justify"></i></a>
            {{#if currentUser}}
            <a href="/" id="logout" class="outcan "><i class="glyphicon glyphicon-off"></i></a>
            {{else}}
            <a href="/login" id="loginl" class=" outcan "><i class="glyphicon glyphicon-user"></i></a>

            {{/if}}	
            <a href="/admin" class="outcan"><i class="glyphicon glyphicon-align-justify"></i></a>
            {{#if currentUser}}
            welcome 
            {{else}}
            please 
            {{/if}}
        </div>
        -->
    </div>
    <div class="margintop"></div>

</template>
