/* CSS declarations go here */


body, html, .container-fluid { 

}


.open{
	color:red;
}




.nonselected{
	background:none;
}


.put_menu{
	text-align:center;
	vertical-align: middle;
	background:#FFF;
	color:#ddd;
	display:inline-block;
	width:30px;
	height:30px;
	margin:0 3px 0 3px;
	border-radius:20px;
	line-height:30px;
}
.put_menu:hover{

	background:#F5F6F6;	
 -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;

}

/*
background: url("/close_16.png") no-repeat 0 center;
*/

.done{
	
}
.done .text{
    text-decoration: line-through;
    color: #999; 
	background:#F5F5F5;
	opacity:0.7;
}
.done .donecheck{
    color: #FFF; 

}

.hide{
	display:none;
}

#text{

	text-align:center;
}

.boxin{
	width:60px;
	height:60px;
	display:inline-block;
	color:#fff;
	margin:3px;
	position:relative;
	text-align:center;
}

.boxin span{
	position:absolute;
	top:30%;left:0px;
	width:100%;
	font-size:30px;
}
.boxin p{
	position:absolute;
	top:60%;right:3px;
	display:block;

}

.boxinbg1{
	background:red;
}
.boxinbg2{
	background:green;
}
.boxinbg3{
	background:blue;
}

.selected{
	background:#B3FF66;
}

.item:hover{background:#FFFF99;}
.btnNewCatnote:hover{background:#FFFF99;color:black;}





#search-top input[type="text"] {


border-radius: 4px;

padding-left: 8px;
padding-right: 27px;
font-size: 13.5px;
font-family: Overpass,"Helvetica Neue",Helvetica,Arial,sans-serif;
width: 95px;
height: 22px;
-webkit-transition: width 0.3s ease 0s;
-moz-transition: width 0.3s ease 0s;
-o-transition: width 0.3s ease 0s;
transition: width 0.3s ease 0s;
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
}
#search-top:hover input[type="text"] {

width: 280px;

}

/*
	NEW
*/

body, html, .container { 
  height: 100%;
}
/*

*/

.post_for{

	margin-bottom:8px;	
	overflow:hidden;
 	color: #3b3b3b;
    font: 13px Verdana,sans-serif;
    line-height:21px;
}

#drops {
	margin:0 auto;
	text-align:left;

}

.post{
	background:#FFF;
	border-left:5px solid #D5D5D5;
	-moz-box-shadow:    1px 1px 3px 0px #dedede;
 	-webkit-box-shadow: 1px 1px 3px 0px #dedede;
 	box-shadow:         1px 1px 3px 0px #dedede;
	padding:10px 30px;
	overflow:hidden;
 	color: #3b3b3b;
    font:  Verdana,sans-serif;
    line-height:36px;
    text-align:justify;

}

.shadow{
	-moz-box-shadow:    1px 1px 3px 0px #dedede;
 	-webkit-box-shadow: 1px 1px 3px 0px #dedede;
 	box-shadow:         1px 1px 3px 0px #dedede;
}

.addo{
	
	border-left:5px solid #d6e9c6;
}


.topb{
	-moz-box-shadow: 0;
 	-webkit-box-shadow:0;
 	box-shadow:0;
}


#drops .po:hover {
	border-left:5px solid #777;
}

.cdl {
	color:#888;
	position:relative;
	float:right;
	margin:10px;
	line-height:22px;
}
.cdl span{

	position:relative;
	float:right;
	margin:5px;
	line-height:22px;
}
.cdl2 span{

	position:relative;
	float:right;
	margin:5px;
	line-height:22px;
}
.tags span{

	position:relative;
	float:right;
	margin:5px;
	line-height:22px;
}
.cdl2 {
	color:#888;
	position:relative;
	float:left;
	margin:10px;
	line-height:22px;
}

.deleted{
	border:1px solid red;
}

#posts h4{
	padding:3px;
}
#posts h4:hover{
	padding:3px;
	
	cursor: text;
}
.edit:hover{


}


/*
	bootstrap override
*/

.panel-success{
	border:none;
}


.bs-component{
	overflow:hidden;
	}
	
	
.label {
display: inline;
float:none;
padding: .2em .6em .3em;
font-size: 75%;
font-weight: bold;
line-height: 1;
color: #ffffff;
text-align: center;
white-space: nowrap;
vertical-align: baseline;
border-radius: .25em;
}

/*

*/

.addi{
	color:#999;
	display:block;
	-moz-box-shadow:    1px 1px 3px 0px #dedede;
 	-webkit-box-shadow: 1px 1px 3px 0px #dedede;
 	box-shadow:         1px 1px 3px 0px #dedede;
	padding:20px;
	margin:10px 0 10px 0;
	text-align:center;
	background:#FFF;
	border-left:5px solid #A52A2A;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	 cursor: pointer; cursor: hand; 
}


ul.icons{
	padding:0;margin:0;
	list-style:none;

	padding-bottom:30px;
}

ul.icons li{

	display: block;
	height: 60px;
	width: 60px;
	margin:0px auto;
	line-height: 60px;
	text-align:center;
	
}

ul.icons li a{
	color:#999;
	display:block;
	-moz-box-shadow:    1px 1px 3px 0px #dedede;
 	-webkit-box-shadow: 1px 1px 3px 0px #dedede;
 	box-shadow:         1px 1px 3px 0px #dedede;


	background:#FFF;	
	cursor: pointer; cursor: hand;
	
}

ul.icons li a:hover{
	color:#FFF;
	background:#333;
}

.red{
	border-left:5px solid red;
}

.green{
	border-left:5px solid #00cc99;
}

.blue{
	border-left:5px solid #0099cc;
}


.gree{
	border-left:5px solid #99cc00;
}

.bree{
	border-left:5px solid #b233cc;
}
.zree{
	border-left:5px solid #4ccc33;
}
.xree{
	border-left:5px solid #cc6633;
}

.bordertop{
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.borderbottom{
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

ul.hash{
	padding:0;margin:0;
	list-style:none;

}


.margintop{
	margin-top:80px;
}


/*
	admin
*/

.content{

	overflow-x:hidden;
	overflow-y:auto;
	height:100%;
}





.content::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	
	background-color: #F5F5F5;
}

.content::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.content::-webkit-scrollbar-thumb
{

	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.contentx{

	overflow-x:hidden;
	overflow-y:auto;
	height:100%;
}
.contentx::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	
	background-color: #F5F5F5;
}

.contentx::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.contentx::-webkit-scrollbar-thumb
{

	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}



#idbar{
	width:90px;
	height:100%;
	position:relative;
	background:#151515;
	border-right:1px solid #212121;
	float:left;
	padding:10px;
}

#idbar2{
	width:250px;
	height:100%;
	position:relative;
	background:#202020;
	border-left:1px solid #111;
	border-right:1px solid #555;
	
	float:left;
}

#idbar3{
	width:500px;
	height:100%;
	position:relative;
	background:#F8F8F8;
	border-left:1px solid #222;
	border-right:1px solid #FFF;
	float:left;
	
}

#idbar4{
	width:400px;
	height:100%;
	position:relative;
	background:none;
	border-left:1px solid #EEE;
	border-right:1px solid #EEE;
	float:left;
	
}

/*
 icons admin
*/


ul.icons_admin{
	padding:0;margin:0;
	list-style:none;
	padding-top:10px;
}

ul.icons_admin li{
	display:block;
	width:60px;
	height:60px;
	margin:0px auto;
	text-align:center;
}

ul.icons_admin li a{
	color:#999;
	display:block;
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 24px;
}


ul.icons_admin li a:hover{
	color:#2C3E50;
}


/*
tooltip admin
*/

.tooltip-inner{
	background:#2FA4E7;
}

.ofh{
	overflow:hidden;
}


.mouse_hand{
	cursor: pointer; cursor: hand;
}


/*
	admin chat
*/

	.bubble {
		background-color: #FFF;
		background-image: -webkit-linear-gradient(top, hsla(0,0%,100%,.5), hsla(0,0%,100%,0));
		background-image:    -moz-linear-gradient(top, hsla(0,0%,100%,.5), hsla(0,0%,100%,0));
		background-image:     -ms-linear-gradient(top, hsla(0,0%,100%,.5), hsla(0,0%,100%,0));
		background-image:      -o-linear-gradient(top, hsla(0,0%,100%,.5), hsla(0,0%,100%,0));
		background-image:         linear-gradient(top, hsla(0,0%,100%,.5), hsla(0,0%,100%,0));
		border-radius: 5px;
		box-shadow: inset 0 1px 1px hsla(0,0%,100%,.5),
					3px 3px 0 hsla(0,0%,0%,.1);
		color: #333;
		display: inline-block;
		font: 16px/25px sans-serif;
		padding: 15px;
		position: relative;
		text-shadow: 0 1px 1px hsla(0,0%,100%,.5);
	}
	.bubble:after, .bubble:before {
		border-bottom: 25px solid transparent;
		border-right: 25px solid #FFF;
		bottom: -25px;
		content: '';
		position: absolute;
		right: 25px;
	}
	.bubble:before {
		border-right: 25px solid hsla(0,0%,0%,.1);
		bottom: -28px;
		right: 22px;
	}
	
	.chat{
		overflow:hidden;
		
		margin-bottom:9px;
	}
	
	.chat .nav{
		margin-top:20px;
	
	}
	
	#chatbox{
		position:relative;
	}
	
	#chatbox .chatelements{
		position:absolute;
		margin-top:100px;
			

	}
	
	#chatbox .sendmsg{
		position:absolute;
		top:0;left:0;

		width:100%;
		height:80px;
	}
	

/*
admin theme*/

.fa-ico{
	font-size:20px;
}

/*
peace
*/

.mm-panel > div
{
	width: 75%;
	max-width: 650px;
	padding: 50px 20px;
	margin: 0 auto;
}
.mm-panel > div
{
	padding: 30px 0;
}

#tooltips
{
	display: none;
	position:relative;
}




/*
.tip a[href="#page"]
*/
.tip a[id="close"]
{
	border-radius: 20px;
	background: #ccc;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	line-height: 28px;
	display: block;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 20px;
	right: 20px;
}
.tip a:hover[id="close"]{
	background: #d9534f;
}

/*
outcan*/

.outcan{
	display: block;
	height: 40px;
	width: 40px;
	margin:10px;
	background:#FFF;
	text-align: center;
	line-height: 42px;
	font-size:20px;
	box-shadow: inset 0 1px 1px hsla(0,0%,100%,.5),3px 3px 0 hsla(0,0%,0%,.1);

}
a.outcan{
	color:#999;
}
a.outcan:hover{
	color:#666;
}

#many{
	position:fixed;
	position:absolute;
	top:2px;left:2px;
}

